@font-face {
    font-family:Sriracha;
    src:url(font/sriracha-regular-webfont.woff)
}
@font-face {
    font-family:DancingFont;
    src:url(font/pacifico-regular-webfont.woff)
}
body {
    background-image: url(img/hero.png);
}
.nav {
    font-size:24px;
    font-family: sriracha;
    margin-top:10px;
    transition: 3s;
}
.nav-link {
    color:#FD2116;
}
.nav-link:hover {
    color:#FD2116;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.btn {
    border:2px solid black;
    margin-top:-37px;
    margin-right:40px;
    float:right;
}

.jumbotron {
}

.vision {
    background-color: white;
    padding:2px;
    margin-top:120px;
    margin-left:60px;
}

.product, .guide{
    background-color: #D45C33;
    height: 240px;
    overflow: hidden;
}
.product {
    margin-top:145px;
}

.guide {
    margin-top:200px;
    background-color:#AFA8A4;
}
.way {
    background-color: #D45C33;
}

.ask  {
    background-color:#AFA8A4 ;
}
.ask .what-is, .way  {
    font-family: DancingFont;
    text-align: center;
    line-height: 240px;
    font-size: 50px;
}

.def {
    text-align: center;
    margin-top:80px;
}